@model BitirmeProjesi.Models.Gelir


<form method="post" action="GelirDuzenleme" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gelir Faturası</label>
        <input type="text" class="form-control" asp-for="FaturaKesilenAd">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Miktar</label>
        <input type="text" class="form-control" asp-for="Miktar">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Kesinti</label>
        <input type="text" class="form-control" asp-for="Kesinti">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Fatura Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="FaturaTarihi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ödenme Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="ÖdenmeTarihi">
    </div>


    <button type="submit" class="btn btn-primary">Düzenle</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Gelir" onclick="return confirm('Bu kaydı silmek istediğinizden emin misiniz?');">
        
        Sil
    </button>
</form>