@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>Bu sitenin hakları Erdinç Karaman'a aittir. Site ile ilgili bilgi almak için erdokrmn@hotmail.com adresine mail atabilirsiniz.</p>
