<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BitirmeProjesi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BitirmeProjesi.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                                   Personel İşlemler
                                </a>
                                <div class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Personel" asp-action="PersonelKayıt">Personel Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Personel" asp-action="PersonelListeleme">Personel Listeleme</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Tevzi" asp-action="TevziKayıt">Tevzi Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Tevzi" asp-action="TevziListeleme">Tevzi Listeleme</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Hesap Açma</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="TcpServer" asp-action="TcpServerData">Tcp</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="GC" asp-action="GCKayıt">Giriş Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Maas" asp-action="Puantaj">Puantaj</a>

                                    }
                                    else if (User.IsInRole("AdminYardimcisi"))
                                    {
                                    <!-- AdminYardimcisi için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki1"))
                                    {
                                    <!-- Yetki1 için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki2"))
                                    {
                                    <!-- Yetki2 için görünecek öğeler -->
                                    }
                                </div>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                                   Finansal İşlemler
                                </a>
                                <div class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Firma" asp-action="FirmaKayıt">Firma Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Firma" asp-action="FirmaListeleme">Firma Listeleme</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Masraf" asp-action="MasrafKayıt">Masraf Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Masraf" asp-action="MasrafListeleme">Masraf Listeleme</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Gelir" asp-action="GelirKayıt">Gelir Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Gelir" asp-action="GelirListeleme">Gelir Listeleme</a>
                                    }
                                    else if (User.IsInRole("AdminYardimcisi"))
                                    {
                                        <!-- AdminYardimcisi için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki1"))
                                    {
                                        <!-- Yetki1 için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki2"))
                                    {
                                        <!-- Yetki2 için görünecek öğeler -->
                                    }
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                                    Malzeme İşlemler
                                </a>
                                <div class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Malzeme" asp-action="MalzemeKayıt">Malzeme Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Malzeme" asp-action="MalzemeListeleme">Malzeme Listeleme</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Zimmet" asp-action="ZimmetKayıt">Zimmet Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Zimmet" asp-action="ZimmetListeleme">Zimmet Listeleme</a>

                                    }
                                    else if (User.IsInRole("AdminYardimcisi"))
                                    {
                                        <!-- AdminYardimcisi için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki1"))
                                    {
                                        <!-- Yetki1 için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki2"))
                                    {
                                        <!-- Yetki2 için görünecek öğeler -->
                                    }
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                                    Malzeme İşlemler
                                </a>
                                <div class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Gemi" asp-action="GemiKayıt">Gemi Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Gemi" asp-action="GemiListeleme">Gemi Listeleme</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="GemiEnvanteri" asp-action="GemiEnvanteriKayıt">Gemi Envanteri Kayıt</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="GemiEnvanteri" asp-action="GemiEnvanteriListeleme">Gemi Envanteri Listeleme</a>

                                    }
                                    else if (User.IsInRole("AdminYardimcisi"))
                                    {
                                        <!-- AdminYardimcisi için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki1"))
                                    {
                                        <!-- Yetki1 için görünecek öğeler -->
                                    }
                                    else if (User.IsInRole("Yetki2"))
                                    {
                                        <!-- Yetki2 için görünecek öğeler -->
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                    <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BitirmeProjesi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
