@model BitirmeProjesi.Models.Malzeme


<form method="post" action="MalzemeDuzenleme" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Malzeme Adı</label>
        <input type="text" class="form-control" asp-for="MalzemeAdı">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Malzeme Tipi</label>
        <input type="text" class="form-control" asp-for="MalzemeTürü">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">SKT</label>
        <input type="text" class="form-control" asp-for="MalzemeSkt">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Malzeme Adet</label>
        <input type="number" class="form-control" asp-for="MalzemeAdet">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Malzeme Fiyatı</label>
        <input type="number" class="form-control" asp-for="MalzemeFiyatı">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Malzeme Kodu</label>
        <input type="text" class="form-control" asp-for="MalzemeKodu">
    </div>


    <div class="mb-3">
        <label for="" class="form-label">Alınış Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="MalzemeAlınısTarih">
    </div>
      <div class="mb-3">
        <label for="" class="form-label">Ürün Durumu</label>
        <input type="checkbox" class="form-check" asp-for="ÜrünDurumu">
    </div>

    <button type="submit" class="btn btn-primary">Düzenle</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Malzeme"> Sil </button>
</form>