@model BitirmeProjesi.Models.Masraf


<form method="post" action="MasrafKayıt" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Masraf Adı</label>
        <input type="text" class="form-control" asp-for="MasrafAdı">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Malzeme Türü</label>
        <input type="text" class="form-control" asp-for="MasrafTipi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Masraf Tutarı</label>
        <input type="text" class="form-control" asp-for="MasrafTutarı">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Ödeme Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="ÖdemeTarihi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ödenen Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="ÖdenenTarih">
    </div>

    <div class="mb-3">
        <label>Firma Adı</label>
        @Html.DropDownListFor(m => m.FirmaId, (List<SelectListItem>)ViewBag.Firmalar, new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-primary">Kayıt Et</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Masraf">Sil</button>
</form>