@model BitirmeProjesi.Models.Masraf


<form method="post" asp-action="MasrafKayıt" asp-controller="Masraf" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Masraf Adı</label>
        <input type="text" class="form-control" asp-for="MasrafAdı">
        <span asp-validation-for="MasrafAdı" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Masraf Tipi</label>
        <input type="text" class="form-control" asp-for="MasrafTipi">
        <span asp-validation-for="MasrafTipi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Masraf Tutarı</label>
        <input type="number" class="form-control" asp-for="MasrafTutarı">
        <span asp-validation-for="MasrafTutarı" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Ödeme Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="ÖdemeTarihi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ödenen Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="ÖdenenTarih">
    </div>
    <div class="mb-3">
        <label>Firma Adı</label>
        @Html.DropDownListFor(m => m.FirmaId, (List<SelectListItem>)ViewBag.Firmalar, new { @class = "form-control" })
    </div>
   

    <button type="submit" class="btn btn-primary">Kayıt Et</button>
</form>