@model BitirmeProjesi.Models.Gemi


<form method="post" asp-action="GemiDuzenleme" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gemi Adı</label>
        <input type="text" class="form-control" asp-for="GemiAdı">
        <span asp-validation-for="GemiAdı" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tershane Adı</label>
        <input type="text" class="form-control" asp-for="TershaneAdı">
        <span asp-validation-for="TershaneAdı" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gemi Tipi</label>
        <input type="text" class="form-control" asp-for="GemiTipi">
        <span asp-validation-for="GemiTipi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tahmini Bitirme Süresi(Gün)</label>
        <input type="number" class="form-control" asp-for="TahminiBitirmeSuresi">
        <span asp-validation-for="TahminiBitirmeSuresi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gemiye Başlama Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="GemiyeBaslamaTarihi">
    </div>


    <button type="submit" class="btn btn-primary">Düzenle</button>
</form>
<form method="post" asp-action="Delete" asp-controller="Gemi" class="mt-3">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinizden emin misiniz?');">Sil</button>
</form>