@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style type="text/css">
    p{font-family:Arial;text-align:center;font-weight:bold;color:aqua}
    
</style>
<p>ASD 123</p>
