@model BitirmeProjesi.Models.Firma


<form method="post" action="FirmaKayıt" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Firma Adı</label>
        <input type="text" class="form-control" asp-for="FirmaAdı">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefon Numarası</label>
        <input type="tel" class="form-control" asp-for="TelofonNo">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Iban</label>
        <input type="text" class="form-control" asp-for="Iban">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Firmadaki Kişi</label>
        <input type="text" class="form-control" asp-for="İlgiliKisi">
    </div>


    <button type="submit" class="btn btn-primary">Kayıt Et</button>
</form>
