@model BitirmeProjesi.Models.Maas


<form method="post" action="MaasDuzenleme" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label>Personel Adı</label>
        @Html.DropDownListFor(m => m.PersonelId, (List<SelectListItem>)ViewBag.Personeller, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Toplam Maaş</label>
        <input type="text" class="form-control" asp-for="MaasTutarı">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Normal Maaş</label>
        <input type="text" class="form-control" asp-for="NormalMaas">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Değer Maaşı</label>
        <input type="number" class="form-control" asp-for="DegerMaasi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Mesai Maaşı</label>
        <input type="number" class="form-control" asp-for="MesaiMaasi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Resmi Tatil Maaşı</label>
        <input type="text" class="form-control" asp-for="OzelGunMaasi">
    </div>


    <div class="mb-3">
        <label for="" class="form-label">Alınış Tarihi</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="MaasTarihi">
    </div>


    <button type="submit" class="btn btn-primary">Düzenle</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Maas" onclick="return confirm('Bu kaydı silmek istediğinizden emin misiniz?');">
        
        Sil
    </button>
</form>
