@model  BitirmeProjesi.Models.ViewModel.TevziViewModel


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">


<div class="table-responsive">
	<table id="Masraf" class="table table-striped table-bordered dt-responsive text-nowrap overflow-scroll">
		<thead>
			<tr>
				<th>Personel</th>
				<th>Tarih</th>
				<th>Çalışma Saati</th>
				<th>Mesai Saati</th>
				<th>Durum </th>
				<th>Kayıt Butonu</th>



			</tr>
		</thead>
		<tbody>
			@foreach (var personel in Model.personeller)
			{
				
				
				

				<tr>
					
					<form method="post" action="Kayıt" class="mt-5">
						<td>
								
								<input type="text" class="form-control"  asp-for="(@personel.Ad)" name="@personel.Id" readonly>
								<input type="hidden" class="form-control" asp-for="(@personel.Id)" name="Id" readonly>
						</td>
						
						<td>
							
								<input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" asp-for="tevzi.TevziTarih">
							
						</td>
						<td>
							
								<input type="number" class="form-control" asp-for="tevzi.CalısmaSaati" >
							
						</td>
						<td>
							
								<input type="number" class="form-control" asp-for="tevzi.MesaiSaati">
							
						</td>
						<td>
							
								<input type="checkbox" class="form-check" asp-for="tevzi.Durum">
							
						</td>
						

						<td>
						
						<button type="submit" class="btn btn-primary"
							asp-action="Kayıt"
							asp-controller="Tevzi">
							Kayıt
						</button>
						</td>
					</form>
						
				</tr>
				

			}
			
		</tbody>

	</table>
	


</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script>
	new DataTable('#Masraf');
</script>